
* {
  margin: 0px;
}
.App {
  text-align: center;
}
.App-header {
  background-color: rgb(41, 41, 41);
  color: #ffffff;
}

.contenedorNav a:hover {
  background-color: rgb(77, 240, 55);
  color: black;
}
